body {
    margin: 0;
    font-family: "Open Sans";
    width: 100%;
}
.container-h{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 150vh;
}
.half {
    width: 50%;
    display: flex;
    /*justify-content: center;*/
    flex-direction: row;
}
.half:first-child{
    background-color: #E9E9E9;
    flex-direction: column;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: max(20%);
}
.half:first-child p{
    font-size: 25px;
    font-weight: 600;
}
.welcome{
    display: flex;
    flex-direction: column;
}
.navigation{
    margin: 20px 20px;
}
.menu{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
    margin: 20px;
}
.menu a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: 0.3s;
}
.menu a:hover {
    color: chocolate;
}
.authentication{
    flex-direction: column;
    display: flex;
    align-items: self-start;
    margin: 20px;
}
.authentication h1{
    animation-duration: 2s;
    animation-name: slidein;
    font-size: 30px;
    font-weight: 700;
    margin: 20px;
}
.authentication p{
    animation-duration: 3s;
    animation-name: slidein;
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
@keyframes slidein {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.button{
    animation-duration: 4s;
    animation-name: slidein;
    display: flex;
    flex-direction: row;
    margin: 15px;
}
.authentication a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
    background-color: #E9E9E9;
    padding: 15px 30px;
    margin-right: 15px;
    display: inline-block;
    border-radius: 30px;
    transition: 0.3s;
}
.authentication a:hover{
    color: chocolate;
}
.word {
    background-color: #FEDCAC;
}
.cat-this {
    display: flex;
    flex-direction: column;
    align-items: self-end;
    margin-right: 60px;
    margin-top: auto;
}
.container-a{
    background-color: #E9E9E9;
    height: 100vh;
    padding: 60px 40px 20px 40px;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.part {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.part:first-child {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.part:last-child {
    display: flex;
    flex-direction: column;
}
.part h2{
    color: black;
    font-size: 30px;
    font-weight: 700;
    background-color: #FEDCAC;
    width: 100%;
    text-align: center;
    border-radius: 40px;
    transition: 0.3s;
}
.part p {
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.cp {
    transform: scale(-1, -1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 200px;
}
.cm{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: flex-end;
}
.container-r{
    padding: 60px 40px 150px 40px;
}
.review {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.piece {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.piece:first-child {
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.piece:last-child {
    display: flex;
    flex-direction: column;
}
.piece h2{
    color: black;
    font-size: 30px;
    font-weight: 700;
    background-color: #FEDCAC;
    width: 100%;
    text-align: center;
    border-radius: 40px;
}
.piece p {
    color: black;
    font-size: 20px;
    font-weight: 600;
}
.f {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 40px 0px;
    background-color: #FEDCAC;
    width: 100%;
    border-radius: 40px;
}
.container-c {
    padding: 60px 40px 20px 40px;
}
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.info {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.info:first-child {
    display: flex;
    flex-direction: column;
}
.info:last-child {
    flex-direction: column;
    align-items: self-start;
    padding: 20px;
}
.info h2{
    color: black;
    font-size: 30px;
    font-weight: 700;
    background-color: #FEDCAC;
    width: 100%;
    text-align: center;
    border-radius: 40px;
}
.info h4 {
    color: black;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}
.info p {
    color: black;
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
}
.info a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    transition: 0.3s;
}
.info a:hover {
    color: chocolate;
}
.cc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 0px 0px;
}
.container-p {
    padding: 0px 40px 70px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    grid-gap: 25%;
}
.container-p img {
    width: 100%;
}
.line {
    position: absolute;
    margin-top: 3px;
    border-top: 2px solid #E68687;
    width: 100%;
}
/*@media (max-width: 800px) {*/

/*}*/
@media (max-width: 1000px) {
    .review {
        flex-direction: column;
    }
    .piece:first-child {
        align-self: center;
    }
    .piece:last-child {
        align-self: center;
    }
    .part:last-child {
        display: none;
    }
    .part:first-child {
        width: 75%;
    }
    .part p{
        font-size: 15px;
    }
    .half:first-child p {
        font-size: 20px;
    }
    .part h2{
        font-size: 20px;
    }
    .container-h {
        height: 100vw;
    }
    .half:last-child {
        display: none;
    }
    .half:first-child {
        width: 100%;
    }
    .piece h2 {
        font-size: 20px;
    }
    .piece p {
        font-size: 15px;
    }
    .info h2 {
        font-size: 20px;
    }
    .info h4 {
        font-size: 17px;
    }
    .info p {
        font-size: 15px;
    }
    .contacts {
        flex-direction: column-reverse;
        align-items: center;
    }
}
main {
    width: 100%;
}
.table-container {
    display: grid;
    margin: 40px;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 768px) {
    table {
        grid-template-columns: 1fr;
    }

    th, td {
        display: block;
        text-align: left;
    }

    tbody tr {
        display: grid;
        grid-template-columns: 1fr;
    }
}
